body{
    background-color: #f2f6ff;
 }
a{
color:white !important;
text-decoration: none;
margin: 5px;
cursor: pointer;
padding: 5px;
transition:background-color 0.3s ease-in-out, color 0.3s ease-in-out;
font-size: 1.2rem;
}

.brand{
    font-size :1.5rem;
}

a:not(.brand):hover{
    background-color: white;
    color:black !important;
}


i{
    color:white !important;
}

.userName{
    color:white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}